<div class="container">
    <div class="col">
        <div class="col">
            <h2>Detalle de la vacante:</h2>
        </div>
    </div>
</div>
<div class="container">
<div class="row">
    <div class="col">
        <p>
            Prestigiosa empresa del sector Industrial ubicada en CHÍA – Cundinamarca requiere para su equipo de trabajo profesional en Empresa del sector manufacturero con sede en Sopó – Cundinamarca requiere profesional en Psicología con experiencia mínima de 2 años en procesos de gestión humana; selección, vinculación y nómina.
            La empresa cuenta con servicio de ruta y casino.
            Contrato directamente por la empresa.
        </p>
    </div>
</div>

<div class="container">
    <!-- Botón en HTML (lanza el modal en Bootstrap) -->
    <a href="#victorModal" role="button" class="btn btn-large btn-primary" data-toggle="modal">Postular</a>

</div>

<!-- Modal / Ventana / Overlay en HTML -->
<div id="victorModal" class="modal fade">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title">¿Estás seguro?</h4>
            </div>
            <div class="modal-body">
                <p>¿Seguro que quieres borrar este elemento?</p>
                <p class="text-warning"><small>Si lo borras, nunca podrás recuperarlo.</small></p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
                <button type="button" class="btn btn-danger">Eliminar</button>
            </div>
        </div>
    </div>
</div>


</div>