<div class="container">
    <div class="row"> 
        
        <div class="col-1"></div>

        <div class="col-10">
            <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQZwi6ReowRxcYF8s0mF0AVyxP1OtzTmDGuPQ&usqp=CAU" alt="logo">
            
            <div class="row direccion">Dirección de establecimiento principal</div>

        </div>

        <div class="col-1"> 
            <div class="row">
                <h3>Encuentranos</h3>
            </div>
            
            <div class="row contactenos">
              <a href="">Facebook</a>  
              <a href="">Instagram</a>
              <a href="">Twitter</a>
            </div>
            
        </div>
    </div>
</div>