<div class="container">
    <div class="col">
        <div class="row">
            <div class="col titulo"><h1>REGISTRA TU CURRICULUM</h1></div>
        </div>
    </div>
</div>

<form class="container">
    <div class="form-row">
        <div class="from-col">
            <div class="row">
                <img class="pref" src="https://cdn.pixabay.com/photo/2017/02/23/13/05/profile-2092113_960_720.png">
            </div>
        </div>
        <div class="from-col">
            <div class="row">
                <input type="text" class="form-control" id="nombredelcandidato" placeholder="Nombre del candidato">
            </div>
            <div class="row">
                <input type="number" class="form-control" id="identificacion" placeholder="Identificación">
            </div>
            <div class="row">
                <input type="text" class="form-control" id="profesion" placeholder="Profesión">
            </div>
            <div class="row">
                <input type="number" class="form-control" id="edad" placeholder="Edad">
            </div>
            <div class="row">
                <input type="tel" class="form-control" id="telefono" placeholder="Teléfono">
            </div>
            <div class="row">
                <input type="email" class="form-control" id="correo" placeholder="Correo">
            </div>
            <div class="row">
                <h3>Perfil detallado del candidato</h3>
                <textarea type="text" class="form-control" id="perfildetalladodelcandidato" placeholder="Perfil detallado del candidato"></textarea>
            </div>
            <div class="row">
                <h3>Aspiración salarial</h3>
                <input type="number" class="form-control" id="aspiracionsalarial" placeholder="COP $ 1.000.000">
            </div>
            <div class="row">
                <h3>Experiencia laboral</h3>
                <textarea type="text" class="form-control" id="experiencialaboral" placeholder="Experiencia laboral"></textarea>
            </div>
            <div class="row">
                <h3>Nivel educativo</h3>
                <textarea type="text" class="form-control" id="niveleducativo" placeholder="Nivel educativo"></textarea>
            </div>
            <div class="row">
                <h3>Referencias</h3>
                <textarea type="text" class="form-control" id="referencias" placeholder="Referencias"></textarea>
            </div>
            <div><br></div>
            <div class="row pref">
                    <a href="../server/post.php" class="btn btn-success pull-right">Enviar</a>
                    <a href="../server/update.php" class="btn btn-warning pull-right">Actualizar</a>
            </div>
        </div>
    </div>
  </form>