<div class="container">
    <div class="col">
        <div class="row">
            <div class="col titulo"><h1>REGISTRA TU CURRICULUM</h1></div>
        </div>
    </div>
</div>

<form class="container">
    <div class="form-row">
        <div class="from-col">
            <div class="row">
                <img class="pref" src="https://cdn.pixabay.com/photo/2017/02/23/13/05/profile-2092113_960_720.png">
            </div>
        </div>
        <div class="from-col">
            <div class="row">
                <input type="text" class="form-control" placeholder="Nombre del candidato">
            </div>
            <div class="row">
                <input type="number" class="form-control" placeholder="Identificación">
            </div>
            <div class="row">
                <input type="text" class="form-control" placeholder="Profesión">
            </div>
            <div class="row">
                <input type="number" class="form-control" placeholder="Edad">
            </div>
            <div class="row">
                <input type="tel" class="form-control" placeholder="Teléfono">
            </div>
            <div class="row">
                <input type="email" class="form-control" placeholder="Correo">
            </div>
            <div class="row">
                <h2>Perfil detallado del candidato</h2>
                <input type="text" class="form-control" placeholder="Perfil detallado del candidato">
            </div>
            <div class="row">
                <h2>Aspiración salarial</h2>
                <input type="number" class="form-control" placeholder="COP $ 1.000.000">
            </div>
            <div class="row">
                <h2>Experiencia laboral</h2>
                <input type="text" class="form-control" placeholder="Experiencia laboral">
            </div>
            <div class="row">
                <h2>Nivel educativo</h2>
                <input type="text" class="form-control" placeholder="Nivel educativo">
            </div>
            <div class="row">
                <h2>Referencias</h2>
                <input type="text" class="form-control" placeholder="Referencias">
            </div>
            <div class="row">
                <input class="envio" type="submit" value="Guardar">
            </div>
        </div>
    </div>
  </form>