.container{
    background-color: rgba(207, 204, 204, 0.664);
    display: flex;
    align-items: center;
    border-bottom: solid 2px rgba(107, 106, 106, 0.5);
    padding: 3%;
    text-align: center;
}
.cuadro{
    background-color: rgba(0, 0, 0, 0.541);
    padding: 40% 10% 45% 10%;
    height: 200px;
}
.catgo{
    width: 90%;
    height: 200px;
}
h1{
    font-size:xx-large;
}
h2{
    font-size: medium;
    text-align: center;
}
.ofer{
    width: 50%;
}
button{
    padding: 3% 30% 3% 30%;
    color: #fff;
    background-color: dimgrey;
    border: 0px;
}
a{
    text-decoration: none;
    color: #fff;
}