<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
    <div class="container">
            <div class="col">
                <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQZwi6ReowRxcYF8s0mF0AVyxP1OtzTmDGuPQ&usqp=CAU" alt="logo">
            </div>
            <div class="col">
                <ul>
                    <li><a href="">Inicio</a></li>
                    <li><a href="Registro">Registra tu curriculum</a></li>
                    <li><a href="Ofertas">Ofertas de empleo</a></li>
                    <li><a href="Nosotros">Nosotros</a></li>
                </ul>
            </div>
    </div>    